[project]
	description = wireshark plugin for hadoop 2.x(hdfs/yarn/hbase)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/liu keyou (liukeyou)
[access "refs/for/refs/*"]
	read = group user/liu keyou (liukeyou)
	push = group user/liu keyou (liukeyou)
	label-Code-Review = -2..+2 group user/liu keyou (liukeyou)
	label-Verified = -1..+1 group user/liu keyou (liukeyou)
	rebase = group user/liu keyou (liukeyou)
	removeReviewer = group user/liu keyou (liukeyou)
	submit = group user/liu keyou (liukeyou)
[access "refs/heads/*"]
	read = group user/liu keyou (liukeyou)
	create = group user/liu keyou (liukeyou)
	push = +force group user/liu keyou (liukeyou)
	pushMerge = group user/liu keyou (liukeyou)
[access "refs/tags/*"]
	push = +force group user/liu keyou (liukeyou)
	pushTag = group user/liu keyou (liukeyou)
	pushSignedTag = group user/liu keyou (liukeyou)
